* {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 1.3rem;
}

body {
    background-color: black;
    color: white;
    font-family: sans-serif;
}

.container {
    width: 98%;
    margin: 0.3rem auto;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.naughty, .nice {
    all: unset;
    padding: 0.4rem 0.8rem;
    border-radius: 500px;
    font-weight: 500;
}

.naughty {
    background-color: #dc2626b2;
    color: white;
}

.nice {
    background-color: #4ade80ba;
    color: black;
}

th {
    border-bottom: 3px solid white;
    padding: 1rem 2rem;
}

table {
    border: 1px solid white;
}

td {
    width: 400px;
    padding: 0.4rem 0.6rem;
}

input, button, select, option {
    background-color: black;
    color: white;
    padding: 0.3rem;
    margin: 0.3rem;
    border-radius: 5px;
}

button {
    background-color: white;
    color: black;
    font-weight: 600;
    padding: 0.3rem 1rem;
}

    