* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.card-div {
  display: flex;
  flex-flow: row wrap;
}

.cards {
  background-color: #1c1917;
  width: 300px;
  height: 100px;
  margin: 1rem;
  padding: 1.3rem;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0.1px 0.1px 1.6px rgba(255, 255, 255, 0.7);
}

p {
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 0.3rem;
}

.modal {
  width: 1000px;
  height: 600px;
  position: absolute;
  z-index: 999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #0c0a09;
  border-radius: 5px;
  box-shadow: 0px 0.1px 1px whitesmoke;
  padding: 2rem;
}

.center {
  text-align: center;
  padding-bottom: 1rem;
}


h1 {
  text-align: center;
  margin: 1rem;
}

button {
  padding: 0.4rem 0.6rem;
  outline: none;
  border: none;
  border-radius: 500px;
  font-size: 1.3rem;
  cursor: pointer;
  margin: 0.6rem;
}

.pagni {
  display: flex;
  justify-content: center;
  align-items: center;
}

.close {
  all: unset;
  padding: 0.4rem 0.6rem;
  outline: none;
  border: none;
  border-radius: 500px;
  font-size: 1.6rem;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0.6rem;
}


/* Style the table */
table {
  margin-top: 2rem;
  width: 100%;
  border-collapse: collapse;
}

/* Style the table headers */
th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
  padding: 8px;
  text-align: left;
}

/* Style the table body rows */
td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}


.details-wrapper {
  display: flex;
  gap: 5%;
  align-items: center;
}  


.details-wrapper p {
  text-align: unset;
  padding: 0.2rem 0.2rem;
}

.details-chart {
  min-width: 500px;
}

.details-work {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  padding: 0.2rem 0.2rem;
}

h2 {
  margin-top: 1rem;
}

span {
  background-color: whitesmoke;
  color: black;
  padding: 0.3rem 1rem;
  font-size: 1.3rem;
  margin-right: 2rem;
  margin-bottom: 0.3rem;
  border-radius: 3px;
  box-shadow: white;
  cursor: pointer;
}
