* {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}

body {
  background-color: black;
  color: white;
  font-family: sans-serif;
}

.container {
  display: flex;
  width: 100vw;
}

.datalist {}

.datalist ol {
  list-style-type: none;
  border-right: 1px solid white;
  /* position: absolute; */
}

.datalist li {
  background-color: #52525b;
  border-radius: 5px;
  width: 250px;
  height: 130px;
  margin: 1.3rem 0.6rem;
  padding: 1rem;
  display: flex;
  flex-flow: column;
  gap: 0.3rem;
}

.datalist button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: 1.3rem;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
}


.addeditemlist {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addeditemlist ol {
  list-style-type: none;
  position: absolute;
}

.addeditemlist li {
  background-color: #86efac;
  color: black;
  border-radius: 5px;
  width: 250px;
  height: 130px;
  margin: 1.3rem 0.6rem;
  padding: 1rem;
  display: flex;
  flex-flow: column;
  gap: 0.3rem;
}

.addeditemlist button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  font-weight: 500;
  font-size: 1.3rem;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
}


.overload-circle {
  width: 500px;
  height: 500px;
  border-radius: 500px;
  background-color: red;
}


.pie {
  max-width: 600px;
  width: 100%;
}